<% wrap_layout :layout do %>
  <div class="main blog">
    <section>


      <div class="row">
        <div class="columns large-12">

          <article class="hentry">
            <header>
              <h2 class="entry-title"><%= current_page.data.title %></h2>

              <p class="entry-meta">
                Written by <%= current_page.data.author %> on
                <time class="updated" datetime="<%= current_page.date %>" pubdate><%= current_page.date.strftime('%B %e %Y') %></time>
              </p>
            </header>

            <div class="entry-content">
              <hr/>

              <%= yield %>

              <% if current_page.data.tags && current_page.data.tags.include?("Continuous Deployment") %>
                <br/>
                <div class="panel">
                    <h3>Interested in Continuous Deployment?</h3>
                    <p>
                      We now recommend using <a href="https://www.netlify.com">netlify</a> for Continuous Deployment. <br/>
                      It's our premium hosting platform and makes settings up continuous deployment of any static site as simple as it gets.
                    </p>
                    <p>
                      <a class="button" href="https://www.netlify.com">Get started now</a>
                    </p>
                </div>
              <% end %>

              <hr class="extra-space"/>
            </div>

            <div class="read-next">
              <h5>NEXT TO READ</h4>
              <% related(current_page, 2).each do |post| %>
                <h4><a href="<%= post.url %>"><%= post.title %></a></h4>
                <p class="description"><%= post.data.description %></p>
                <p class="author">An article by <%= post.data.author %></p>
              <% end %>
            </div>

            <div class="social-content">
              <hr class="extra-space"/>
              <div id="disqus_block">
                <%= partial "includes/disqus" %>
              </div>
            </div>

          </article>
        </div>
      </div>

    </section>
  </div>
<% end %>
