---
layout: layout
title: BitBalloon - The Blog
---
<div class="main blog">
  <section class="sheet">
    <div class="row">

      <div class="columns large-12 ">

        <div class="posts">

          <% blog.articles.each do |article| %>
          <article>
            <header>
              <h2 class="entry-title text-center"><a href="<%= article.url %>"><%=  article.title %></a></h2>

              <p class="entry-meta">
                Written by <%= article.data.author %> on
                <time class="updated" datetime="<%= article.date %>" pubdate><%= article.date.strftime('%B %e %Y') %></time>
              </p>
            </header>

            <div class="entry-content">
              <hr/>
              <%= article.summary %>

              <div>
                <a href="<%= article.url %>" class="more">More &raquo;</a>
              </div>

            </div>

          </article>
          <% end %>

        </div>
      </div>

    </div>
  </section>
</div>